<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.chapter3.demo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher_round"
            android:label="四方之星"
            android:roundIcon="@drawable/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning"
            android:usesCleartextTraffic="true">

        <activity android:name="com.example.my.activity.EnterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.my.activity.ManagerDetailActivity">
        </activity>

        <activity android:name="com.example.my.activity.SettingAcitivity">

        </activity>
        <activity android:name="com.example.my.activity.NoteActivity">
        </activity>
        <activity android:name="com.example.my.activity.AddTaskActivity"/>
        <activity android:name="com.example.my.activity.TeamLeaderDetailActivity"/>
        <activity android:name="com.example.my.activity.CheckmanDetailActivity"/>
        <activity android:name="com.example.my.activity.ExecutorDetailActivity"/>
        <activity android:name="com.example.my.activity.CheckManagerDetail1Activity"/>
        <activity android:name="com.example.my.activity.CheckManagerDetail2Activity"/>
        <activity android:name="com.example.my.activity.RegisterActivity"/>
        <activity android:name="com.example.my.activity.MainActivity"/>
        <activity android:name="com.example.my.activity.VerifyDetailActivity"/>
        <activity android:name="com.example.my.activity.VerifyActivity"/>
        <activity android:name="com.example.my.activity.LoginActivity"/>
    </application>
</manifest>
